/*
 * Väripaletti haaleimmasta vahvimpaan:
 * #FAFAFA
 * #EDE7E1
 * #E5D7C8
 * #CED4DA
 * #ADB5BD
 * #6C757D
 */
 

/* ---------- root ---------- */
.root {
	-fx-background-color: #E9ECEF;
}


/* ---------- TextField  ---------- */
.text-field {
	-fx-border-color: #CED4DA;
	-fx-background-color: #CED4DA;
}

.text-field:hover {
	-fx-border-color: #ADB5BD;
	-fx-background-color: #ADB5BD;
}

.text-field:focused {
	-fx-border-color: #6C757D;
	-fx-background-color: #6C757D;
}


/* ---------- TextArea  ---------- */
.text-area {
	-fx-border-color: #CED4DA;
	-fx-control-inner-background: #CED4DA;
}

.text-area:hover {
	-fx-border-color: #ADB5BD;
	-fx-control-inner-background: #ADB5BD;
}

.text-area:focused {
	-fx-border-color: #6C757D;
	-fx-control-inner-background: #6C757D;
}


/* ---------- ComboBox ---------- */
.combo-box, .list-cell:selected, .arrow-button {
	-fx-background-color: #CED4DA;
}

.combo-box .list-cell:hover {
	-fx-background-color: #ADB5BD;
}


/* ---------- Table ---------- */
.table-view, .table-view .column-header {
	-fx-background-color: #CED4DA;
}

.table-view .table-cell {
	-fx-border-color: transparent;
}

.table-row-cell:selected {
	-fx-background-color: #ADB5BD;
}


/* ---------- Button & CheckBox ---------- */
.button, .check-box .box {
	-fx-background-color: #CED4DA;
}

.button:hover, .check-box .box:hover {
	-fx-background-color: #ADB5BD;
}

.button:pressed, .check-box:selected .box {
	-fx-background-color: #6C757D;
}


/* ---------- ominaisuudet GridPane ---------- */
#ominaisuudetGridPane {
	-fx-background-color: #CED4DA;
}