/*
 * Väripaletti haaleimmasta vahvimpaan:
 * #FAFAFA
 * #EDE7E1
 * #E5D7C8
 * #DDC6AF
 * #D4B596
 * #BF956B
 */
 

/* ---------- root ---------- */
.root {
	-fx-background-color: linear-gradient(to bottom, #FAFAFA, #E5D7C8);
}


/* ---------- TextField  ---------- */
.text-field {
	-fx-border-color: #DDC6AF;
	-fx-background-color: #DDC6AF;
}

.text-field:hover {
	-fx-border-color: #D4B596;
	-fx-background-color: #D4B596;
}

.text-field:focused {
	-fx-border-color: #BF956B;
	-fx-background-color: #BF956B;
}


/* ---------- TextArea  ---------- */
.text-area {
	-fx-border-color: #DDC6AF;
	-fx-control-inner-background: #DDC6AF;
}

.text-area:hover {
	-fx-border-color: #D4B596;
	-fx-control-inner-background: #D4B596;
}

.text-area:focused {
	-fx-border-color: #BF956B;
	-fx-control-inner-background: #BF956B;
}


/* ---------- ComboBox ---------- */
.combo-box, .list-cell:selected, .arrow-button {
	-fx-background-color: #DDC6AF;
}

.combo-box .list-cell:hover {
	-fx-background-color: #D4B596;
}


/* ---------- Table ---------- */
.table-view, .table-view .column-header {
	-fx-background-color: #D4A373;
}

.table-view .table-cell {
	-fx-border-color: transparent;
}

.table-row-cell:selected {
	-fx-background-color: #D4B596;
}


/* ---------- Button & CheckBox ---------- */
.button, .check-box .box {
	-fx-background-color: #DDC6AF;
}

.button:hover, .check-box .box:hover {
	-fx-background-color: #D4B596;
}

.button:pressed, .check-box:selected .box {
	-fx-background-color: #BF956B;
}


/* ---------- ominaisuudet GridPane ---------- */
#ominaisuudetGridPane {
	-fx-background-color: #DDC6AF;
}